<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="https://nepose.github.io/css/main.css">
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	</head>
	<body>
		<font face="Lato">
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/blog">News blog</a></li>
        		<li><a href="/about">About project and me</a></li>
        		<li><a href="http://github.com/Nepose/MAG_Software_Portal">GitHub repository</a></li>
						<li><a href="/contact">Contact</a></li>
						<li>You are at: {{ page.whereis }}</li>
    		</ul>
		</nav>
		<div class="container">

    {{ content }}

		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:nepose.magportal@gmail.com">email</a></li>
        		<li><a href="https://github.com/Nepose/MAG_Software_Portal">github.com - Nepose</a></li>
			<li><a href="http://techkings.org/threads/mag-245-250-aura-hd-custom-image-new-stbs.142741/">TechKings forum thread</a></li>
			<li>Latest release: 2.19.00r 29 Sep 2018 / 2.19.00p1 30 Sep 2018</li>
			</ul>
		</footer>
		</font>
	</body>
</html>
