<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="https://nepose.github.io/css/main.css">
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	</head>
	<body>
		<font face="Lato">
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/blog">Main news blog</a></li>
        		<li><a href="http://github.com/Nepose/">GitHub repositories</a></li>
						<li><a href="/downloads">Downloads</a></li>
						<li><a href="/contact">Contact me</a></li>
						<li>You are at: {{ page.whereis }}</li>
    		</ul>
		</nav>
		<div class="container">

    {{ content }}

		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:nepose.magportal@gmail.com">Send e-mail to me</a></li>
        		<li><a href="http://techkings.org/threads/mag-245-250-aura-hd-custom-image-new-stbs.142741/">TechKings forum thread of MAG Software Portal</a></li>
			</ul>
		</footer>
		</font>
	</body>
</html>
